.gdeic-error {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);

    > .gdeic-error-body {
        top: 50%;
        @include transform(translateY(-60%));
        padding: 30px;
        overflow: hidden;
        background-image: -webkit-gradient(linear, center top, center bottom, from(#FCFCFC), color-stop(3%, #F7F7F7),color-stop(42%, #F2F2F2),color-stop(80%, #D9D9D9), to(#BFBFBF));
        background-image: -webkit-linear-gradient(270deg, #FCFCFC, #F7F7F7 3%,#F2F2F2 42%,#D9D9D9 80%, #BFBFBF);
        background-image: -moz-linear-gradient(180deg, #FCFCFC, #F7F7F7 3%,#F2F2F2 42%,#D9D9D9 80%, #BFBFBF);
        background-image: linear-gradient(180deg, #FCFCFC, #F7F7F7 3%,#F2F2F2 42%,#D9D9D9 80%, #BFBFBF);
        @include box-shadow(0 1px 10px rgba(0,0,0,.75));
        @include border-radius(10px);

        .gdeic-error-bg {
            position: absolute;
            top: 115px;
            right: -45px;
            opacity: .55;
            color: #EDB2B1;
            font-size: 250px;
        }

        .gdeic-error-code {
            opacity: .6;
            font-family: $commonFontFamily;
        }

        .gdeic-error-content {
            height: 170px;
            margin-bottom: 10px;
            overflow-y: auto;
            font-family: $commonFontFamily;
        }

        .gdeic-error-btn {
            display: block;
            width: 100px;
            margin: 0 auto;
        }
    }
}
