@mixin transform($option) {
    -ms-transform: $option;
    -webkit-transform: $option;
    transform: $option;
}

@mixin box-shadow($option) {
    -moz-box-shadow: $option;
    -webkit-box-shadow: $option;
    box-shadow: $option;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
