<div ng-if="vm.isSuccessRequest">
	<div class="text-center" style="border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; padding-top: 20px; padding-bottom: 20px"
		ng-if="!hideAlert" ng-show="vm.totalItemCount === 0">无匹配记录</div>
	<div class="text-center">
		<ul class="pagination pagination-{{size}}">
			<li ng-class="{'disabled': currentPage === 1}">
				<a href ng-click="vm.setPage(currentPage - 1)">上一页</a>
			</li>
            <li ng-show="vm.showingPages[0] !== 1">
                <a href ng-click="vm.setPage(1)">1</a>
            </li>
			<li ng-show="vm.showingPages[0] - 1 > 0">
				<a href ng-click="vm.setPage(vm.showingPages[0] - 1)">...</a>
			</li>
			<li ng-repeat="p in vm.showingPages" ng-class="{'active': p === currentPage}">
				<a href ng-click="vm.setPage(p)">{{p}}</a>
			</li>	
			<li ng-show="vm.showingPages[vm.showingPages.length - 1] < vm.pageCount">
				<a href ng-click="vm.setPage(vm.showingPages[vm.showingPages.length - 1] + 1)">...</a>
			</li>
			<li ng-class="{'disabled': currentPage === vm.pageCount}">
				<a href ng-click="vm.setPage(currentPage + 1)">下一页</a>
			</li>
		</ul>
	</div>
</div>