<div gradual-show="isShow" style="position:absolute; width:100%; height:100%; top:0">
    <div class="gdeic-modal-panel">
        <div class="gdeic-modal-panel-header">
            <b>{{headerTitle}}</b>
            <button type="button" class="close" ng-click="isShow = !isShow">&times;</button>
        </div>
        <div class="gdeic-modal-panel-filter" ng-if="filterProperty">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="search.[[filter]]">
                <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
            </div>
        </div>
        <div class="gdeic-modal-panel-body">
            <div class="text-center" ng-show="!sourceList"><br />
                <span class="fa fa-spinner anime-spinner"></span>&nbsp;正在加载..
            </div>
            <p ng-show="sourceList.length === 0">无可选项</p>
            <div class="checkbox" ng-repeat="item in sourceList | filter:search"
                ng-show="sourceList">
                <label ng-class="{'highlight': isCheck(item)}">
                    <input type="checkbox" name="items" ng-checked="isCheck(item)" ng-click="selectItem(item)" />&nbsp;&nbsp;{{item.[[value]]}}
                </label>
            </div>
        </div>
        <div class="gdeic-modal-panel-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="isShow = !isShow">
                    <span class="glyphicon glyphicon-remove"></span> 取消
                </button>&nbsp;
                <button type="button" class="btn btn-warning btn-xs" style="margin-left: 5px" ng-click="clear()">
                    <span class="glyphicon glyphicon-trash"></span> 清空
                </button>&nbsp;
                <button type="button" class="btn btn-primary btn-xs" style="margin-left: 5px" ng-click="ok()">
                    <span class="glyphicon glyphicon-ok"></span> 确定
                </button>
            </div>
        </div>
    </div>
</div>